/* Global variables */
:root {
  --c-black: #05091e;
  --c-blue: #46b4ff;
  --c-gray: #90aab7;
  --c-green: #9ef2cb;
  --c-pink: #ffb8d9;
  --c-orange: #ffb7a3;
  --c-yellow: #ffdace;
  --c-white: #f2f2f2;
}

body {
  margin: 0;
  color: var(--c-white);
  background-color: var(--c-black);
  font-family: "Inter", "system-ui", sans-serif;
}

* {
  box-sizing: content-box;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  border: 3px solid currentColor;
  padding: 0.5em 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
