---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

import { Hero } from "../components/Hero";
import { Card } from "../components/Card";

const projects = [
  {
    url: "https://tailwind-gradient-generator.vercel.app/",
    name: "tailwind-gradient-generator ",
    description: "Tailwind Gradient Generator",
    keywords: ["tailwind", "tailwindcss", "vue"],
  },
  {
    url: "https://marketplace.visualstudio.com/items?itemName=reliutg.bulma-css-class-completion",
    name: "bulma-css-class-completion ",
    description:
      "Visual Studio Code extension that provides CSS class name completion for the HTML class attribute based on Bulma CSS classes.",
    keywords: ["vscode", "bulma", "css", "class"],
  },
  {
    url: "https://github.com/rxb3rth/buzz-notify",
    name: "buzz-notify",
    description: "Small and Clean JavaScript Toast Notifications",
    keywords: ["notification", "toast", "accessible", "small"],
  },
  {
    url: "https://github.com/rxb3rth/lsdb",
    name: "lsdb",
    description: "✨Database powered by localStorage",
    keywords: ["database", "localStorage", "storage"],
  },

  {
    url: "https://marketplace.visualstudio.com/items?itemName=reliutg.visual-regex",
    name: "visual-regex",
    description:
      "Visual Studio Code extension to get detailed and visual information about the pattern you make.",
    keywords: ["vscode", "regex", "visual", "detailed"],
  },
  {
    url: "https://color-palette-vert.vercel.app/",
    name: "color-palette",
    description: "Color Palette Generator",
    keywords: ["color", "palette", "generator"],
  },
];
---

<html lang="en">
  <head>
    <MainHead
      title="Roberth González: Personal Site"
      description="Roberth González: Developer, Speaker, and Writer..."
    />
    <style>
      .wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      .list {
        --min-w: 300px;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(var(--min-w), 1fr));
      }

      @media (min-width: 576px) {
        .list {
          --min-w: 440px;
        }
      }
    </style>
  </head>
  <body>
    <Nav client:visible />
    <Hero />
    <main class="wrapper">
      <section>
        <h2>Projects</h2>
        <div class="list">
          {
            projects.map((project) => (
              <Card
                url={project.url}
                name={project.name}
                description={project.description}
                keywords={project.keywords}
              />
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
