---
const currentYear = new Date().getFullYear();
---

<footer class="wrapper">
  <p>
    &copy; {currentYear} Roberth González
  </p>
</footer>

<style>
  footer {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
  }
</style>
