---
const socialLinks = [
  {
    name: "twitter",
    href: "https://twitter.com/rxb3rth",
  },
  {
    name: "github",
    href: "https://github.com/rxb3rth",
  },
  {
    name: "linkedin",
    href: "https://www.linkedin.com/in/roberth-gonzalez/",
  },
];
---

<nav class="nav wrapper">
  <a class="logo link" href="/">RG</a>
  <ul class="social-links">
    {
      socialLinks.map((link) => (
        <li class="social-links__item">
          <a class="link" href={link.href} target="_blank">
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .logo {
    font-weight: bold;
    font-family: 'Fira Code', sans-serif;
  }
  .link {
    color: var(--t-subdue);
    display: block;
    text-decoration: none;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  .link:hover,
  .link:focus {
    color: var(--t-active);
  }

  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .social-links__item:not(:last-child) {
    margin-right: 1rem;
  }
</style>
